/* Universal Styles */
html {
    font-size: 16px;
    background-color: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Main section */
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
    text-align: center;
}
a {color: aquamarine;
    font-size: 1rem;
}